<p>listagem works!</p>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Telefone</th>
            <th>Especialidade</th>
            <th>Endereço</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profissional of profissionais">
            <td>{{profissional.id}}</td>
            <td>{{profissional.nome}}</td>
            <td>{{profissional.idade}}</td>
            <td>{{profissional.telefone}}</td>
            <td>{{profissional.especialidade}}</td>
            <td>{{profissional.endereco}}</td>
    </tbody>
</table>